appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
Django==5.1.9
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
drf-yasg==1.21.10
Faker==37.3.0
jsonpointer==2.1
protobuf==3.20.3
pyasn1-modules==0.2.8
pycurl==7.45.2
pyls-spyder==0.4.0
pywin32==305.1
setuptools==80.9.0
sqlparse==0.5.3
uritemplate==4.1.1
validate-docbr==1.10.0
